body{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  height: auto;
  position: relative;
  width: 1510px;
  padding-bottom: 50px;
}

.container img{
  width: 100%;
  display: block;
  height: 600px;
}

.top-header{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.top-p{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
  font-weight: 500;
}

.link-btn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-image: linear-gradient( rgb(255, 0, 0), rgb(249, 0, 0));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  
}

.donate-container{
  margin-left: 350px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.amount-container{
  display: flex;
  justify-content: space-evenly;
  
}

#selected-amount{
  color: red;
  padding: 15px;
  border: 2px solid;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
}

#amount-one{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-two{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-three{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-four{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

.amount-other{
  font-size: 25px;
}

#enter-amount{
  margin-top: 15px;
  height: 30px;
  border: none;
  font-size: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  padding-bottom: 50px;
  margin-top: ;
}

.link-btn-two{
  position: absolute;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-image: linear-gradient( rgb(255, 0, 0), rgb(249, 0, 0));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.donate-heading{
  padding-top: 150px;
  text-align: center;
  
}

.donate-plan{
  position: relative;
  height: 300px;
  width: auto;
  margin-left: 150px;
}

.box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(128, 128, 128, 0.3);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box-two{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(255,192,203,0.5);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box-three{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(255, 255, 0, 0.4);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.icon{
  text-align: left;
  padding: 50px 0px 0px 25px;
}

.gallery{
  margin-bottom: 700px;
  margin-left: 170px;
}

#gallery-title{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: green;
  margin-right: 50px;
}

.gallery-container{
  display: block;
  float: left;
  width: 20%;
  padding: 10px;
  margin-bottom: ;
}

.gallery-img{
  width: 100%;
  border-radius: 5px;
}

.container-newsletter{
  text-align: center;
}

.sub-email{
  height: 100px;
  width: auto;
  margin: 50px 350px 70px;
  padding-top: 70px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.4);
}

.email-box{
  height: 28px;
  width: 200px;
  margin-right: -5px;
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.3);
}

.sub-btn{
  width: 140px;
  height: 35px;
  background-color: red;
  color: white;
  border-radius: 3px;
}

footer{
  height: 120px;
  width: auto;
  padding-top: 20px;
  background-color: black;
  color: red;
  text-align: center;
  font-weight: 600;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

#footer-text{
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 15px;
}