body{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  height: auto;
  position: relative;
  width: 1510px;
  padding-bottom: 50px;
}

.container img{
  width: 100%;
  display: block;
  height: 600px;
}

.top-header{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.top-p{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
  font-weight: 500;
}

.link-btn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-image: linear-gradient( rgb(255, 0, 0), rgb(249, 0, 0));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  
}

.donate-container{
  margin-left: 350px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.amount-container{
  display: flex;
  justify-content: space-evenly;
  
}

#selected-amount{
  color: red;
  padding: 15px;
  border: 2px solid;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 5px;
}

#amount-one{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-two{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-three{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

#amount-four{
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.20);
  border-radius: 5px;
}

.amount-other{
  font-size: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  padding-bottom: 50px;
  margin-top: -25px;
}

.link-btn-two{
  position: absolute;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-image: linear-gradient( rgb(255, 0, 0), rgb(249, 0, 0));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.donate-heading{
  padding-top: 150px;
}

.donate-plan{
  position: relative;
  width: 1200px;
  height: 300px;
  margin-left: -200px;
}

.box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(128, 128, 128, 0.25);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box-two{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: pink;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box-three{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgba(255, 255, 0, 0.5);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.icon{
  text-align: left;
  padding: 50px 0px 0px 25px;
}

